@model Schaak.Controllers.HomeController.EmailModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<form method="post" asp-action="Email">

    <table class="table-bordered table-dark">
        <tr>
            <td colspan="2"> <div asp-validation-summary="All" class="text-danger"></div></td>
        </tr>
        <tr>
            <td>
                <label asp-for="EmailAddress" class="control-label"></label>
            </td>
            <td>
                <input asp-for="EmailAddress" class="form-control" />
            </td>
        </tr>
        <tr>
            <td colspan="2"><span asp-validation-for="EmailAddress" class="text-danger"></span></td>
        </tr>
        <tr>
            <td>
                <label asp-for="Description" class="control-label"></label>
            </td>
            <td>
                <input asp-for="Description" class="form-control" />
            </td>
        </tr>
        <tr>
            <td colspan="2"><span asp-validation-for="Description" class="text-danger"></span></td>
        </tr>
        <tr>
            <td>
                <label asp-for="Message" class="control-label"></label>
            </td>
            <td>
                <textarea asp-for="Message" class="form-control" cols="80" rows="8"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2"><span asp-validation-for="Message" class="text-danger"></span></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" class="bg-secondary" /></td>
        </tr>
    </table>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
