@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


</div>
<p></p>
<div class="jumbotron text-center">
    <h1>Deze site is mijn demo/test site.</h1>
    <p>Ik ben bezig een overzicht te maken van </p>
    <p>soorten van technieken die ik beheers.</p>
    <p>Deze site is niet als mooi bedoeld.</p>
</div>

