@model Schaken.Data.Contestent

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Contestent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TournementId" class="control-label"></label>
                <input asp-for="TournementId" class="form-control" />
                <span asp-validation-for="TournementId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspNetUsersId" class="control-label"></label>
                <input asp-for="AspNetUsersId" class="form-control" />
                <span asp-validation-for="AspNetUsersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnlistTime" class="control-label"></label>
                <input asp-for="EnlistTime" class="form-control" />
                <span asp-validation-for="EnlistTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

