@model List<Schaak.Controllers.TestController.BoekKlanten>


@foreach (var item in Model)
{
<p><h1>@item.BoekNaam</h1></p>
<table>
    @foreach (var Uitl in item.Uitleen)
    {
        <tr>
            <td>@Uitl.BoekId</td>
        </tr>
    }
</table>
}
